MODSIM/ResSimMODSIM/RRMinFLowMODSIM/bin/
MODSIM/ResSimMODSIM/RRMinFLowMODSIM/obj/
PRMS/output/
*.cbc
*.out
*.go
*.list
*/**/.idea/
.idea/
MODFLOW/modflow_calibration/ss_calibration/.idea/
MODFLOW/modflow_calibration/.idea/
MODFLOW/modflow_calibration/ss_calibration/.idea/workspace.xml
MODFLOW/modflow_calibration/ss_calibration/slave_root/
MODFLOW/init_files
MODFLOW/other_files
MODFLOW/model_files
MODFLOW/bin
*.lock
PRMS/scripts/ponds/output
PRMS/scripts/ponds/input
GSFLOW/PRMS/scripts/ponds/output
GSFLOW/PRMS/scripts/ponds/input
GSFLOW/archive/2020/gsflow/modflow/rr_tr.awu
GSFLOW/archive/20210903
MODFLOW/archived_models/08_20210722/ss_calibration_20210722.zip
MODFLOW/modflow_calibration/ss_calibration/cluster_prep
MODFLOW/archived_models/13_20210925/results/gis
MODFLOW/ss/pumping_with_rural.wel
GSFLOW/checks/check_obs_wells/compare_land_surf_elev/hob_land_elev_actual/mf_dataset/ss/pumping_with_rural.wel
GSFLOW/checks/check_obs_wells/compare_land_surf_elev/hob_land_elev_mean/mf_dataset/ss/pumping_with_rural.wel
GSFLOW/checks/check_obs_wells/compare_land_surf_elev/hob_land_elev_model/mf_dataset/ss/pumping_with_rural.wel
**/pumping_with_rural.wel
GSFLOW/modflow/output/**
GSFLOW/archive/**/modflow/output
GSFLOW/archive/**/PRMS/output
GSFLOW/modflow/old
GSFLOW/PRMS/old
GSFLOW/PRMS/output/**
GSFLOW/gis
gsflow_scratch/
MODFLOW/archived_models/**/*.hds
MODFLOW/old/**/*.hds
MODFLOW/modflow_calibration/**/*.hds
GSFLOW/archive/2020/**/rr_tr.hds
